hostname "Leaseweb's CS Server"

sv_contact "hagnat@gmail.com" // do not spam >:|
sv_lan 0             // this is a public server... what can go wrong ?

rcon_password ""     // set rcon_password so you have admin rights

mp_timelimit 30      // map cycles every 30min
mp_winlimit 20       // map cycles when a team reaches 20 victories

mp_startmoney 800    // 800$ starting money
mp_friendlyfire 0    // no friendly fire
mp_forcecamera 1     // same team only spectator mode

sv_aim 0             // no auto aim
sv_cheats 0          // no cheats
sv_allowupload 0     // disable custom decals

// logs everything
log on
sv_logbans 1
sv_logecho 1
sv_logfile 1

// lists of banned players.
// load ban files
exec listip.cfg
exec banned.cfg
