hostname "Leaseweb's CS Server"

sv_lan 0
sv_contact "hagnat@gmail.com"

mp_timelimit 30
mp_startmoney 800
mp_friendlyfire 0
mp_winlimit 20
sv_aim 0
sv_cheats 0

//sv_allowupload <0/1> Allow clients to upload their custom decals to the server. Default: 1 
sv_allowupload 0

mp_forcecamera 1

log on
sv_logbans 1
sv_logecho 1
sv_logfile 1

//sv_logsdir Folder in the game directory where server logs will be stored.

//RECON
//rcon_password Set rcon passsword. Leave blank to disable rcon 
rcon_password "YOUR_RCON_PASSWORD"

// lists of banned players.
// load ban files
exec listip.cfg
exec banned.cfg

